@model IEnumerable<MVC_Music.ViewModels.PerformanceSongSummaryVM>

@{
    ViewData["Title"] = "Performance Song Summary";
}

<h2>Performance Song Summary</h2>

<form asp-controller="Musicians" asp-action="PerformanceSongSummary" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AverageFeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighestFeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LowestFeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfPerformances)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfSongs)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageFeePaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HighestFeePaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowestFeePaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPerformances)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfSongs)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>